<div>
    <jtr-navbar></jtr-navbar>
    <jtr-body>
        <div class="container">
            <div id="aboutJumbotron" class="jumbotron" style="height: 400px; background-image: url('/images/aboutJumbo.jpg');"></div>
        </div>

        <div class="container">
            <h1>About Us</h1>

            <div class="row">
                <div class="col-md-12">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <img class="card-img-left flex-auto d-none d-md-block" style="width: 450px; height: 300px;" src="/icons/logo.jpg" data-holder-rendered="true">

                        <div class="card-body d-flex flex-column align-items-start">
                            <h4>Profession IT Services for small or large clients</h4>

                            <ul>
                                <li>Government &amp; Defence</li>
                                <li>Motorsport</li>
                                <li>Small Businesses</li>
                                <li>Home Users</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </jtr-body>
    <jtr-footer></jtr-footer>
</div>
