<div>
    <jtr-navbar></jtr-navbar>
    <jtr-body>
        <div class="container">
            <div id="homeJumbotron" class="jumbotron" style="height: 400px; background-image: url('/images/homeJumbo.jpg');"></div>
        </div>

        <div class="container">
            <h1>VBOX Captures Conditions...</h1>

            <div class="">

                <p class="column jtr-date">02/11/2020</p>

                <h4 class="column">Our VBOX in-car camera system was capturing the action last weekend on the Cotswold Stages Rally at Down Ampney.</h4>

                <p class="column">
                    The weather at the event can only be described as atrocious. Crews battled it out over 7 slippery stages, in which many would suffer due to the conditions. Our crew was no different, severely hamstrung by a misfire from Stage 2 up until the last two Stages, despite the best efforts from their service team. However, they did fix the problem for the final two Stages, where they set top 5 times and climbed to 14th Overall and 4th in Class. Which is a good result considering the severe conditions and the technical issues they had during the day!
                </p>

                <p class="column">
                    Ride along the slippery stages with the team...
                </p>
            </div>
            <div class="">
                <div class="column" style="width: 100%;min-height:540px;">
                    <iframe style="width: 100%;min-height: 540px;" src="https://www.youtube.com/embed/3hBN7g0qEJc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <p class="card-text mb-auto">
                                Please visit our <a href="/#/motorsport">Motorsport</a> page, or <a href="/#/contact">get in touch</a> if you would like to learn more about the in-car camera services we can offer.
                            </p>
                        </div>
                        <img class="card-img-right flex-auto d-none d-md-block" style="width: 450px; height: 300px;" src="/images/jtrHomeFooterImage.jpg" data-holder-rendered="true">
                    </div>
                </div>
            </div>
        </div>
    </jtr-body>
    <jtr-footer></jtr-footer>
</div>
