<div>
    <jtr-navbar></jtr-navbar>
    <jtr-body>
        <div class="container">
            <div id="motorsportJumbotron" class="jumbotron" style="height: 400px; background-image: url('/images/motorsportJumbo.jpg');"></div>
        </div>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item col-md-4" id="vboxCameraServiceItem" display-data="vboxCameraService">
                            <a class="nav-link active">VBOX Camera Service</a>
                        </li>

                        <li class="nav-item col-md-4" id="resultServiceItem" display-data="resultService">
                            <a class="nav-link">Results Service</a>
                        </li>
                        
                        <li class="nav-item col-md-4" id="otherItem" display-data="other">
                            <a class="nav-link">Other</a>
                        </li>
                    </ul>
                </div>
  
                <div class="card-body" id="motorsportTabBody"></div>
            </div>
        </div>
    </jtr-body>
    <jtr-footer></jtr-footer>
</div>
