<div>
    <h5 class="card-title text-center">VBOX Camera Service</h5>
    <p class="card-text">
        Leaton Consult offer a wide range of in-car camera services, using VBOX technology. 
    </p>
                    
    <p class="card-text">
        The in-car camera system is perfect for capturing the action whilst our competing, or even on your upcoming track day. Bespoke overlays can be created to advertise sponsors or simply to enhance the video for your viewers. More information about the VBOX can be found on their website <a href="https://www.vboxmotorsport.co.uk/">here</a>.
    </p>

    <h4>Below are some of the features the VBOX offers;</h4>
                    
    <ul>
        <li>Multiple HD cameras to capture the action from whatever angle you desire</li>
        <li>Audio capture from intercom systems, the environment or a combination of the two</li>
        <li>GPS antenna allows for displaying stats such as speed. It also allows for GPS tracking, showing the route you have taken</li>
        <li>Circuit files can be loaded onto the VBOX, combined with the GPS can show your location on the circuit in the overlay</li>
        <li>Integrating with CAN Bus can enable an overlay displaying TPS, Braking and other supported features</li>
    </ul>
                    
    <p class="card-text">
        We offer a wide range of packages to suit each customers requirements. We can also advise on what would suit your application best. Packages can include installation, on event support and post event editing and upload. 
    </p>

    <p class="card-text">
        Below are some short examples to show the camera system in action...
    </p>
                    
    <div class="row">
        <div class="col-md-6 text-center">
            <iframe src="https://www.youtube.com/embed/LtD9fnEN_9M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-md-6 text-center">
            <iframe src="https://www.youtube.com/embed/tYyQTrTNcXc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
