<footer class="blog-footer">
    <div class="container">
      <div class="row">
            <div class="col-sm">
                <div class="column">
                    <h4>Contact</h4>
                    <a href="mailto:josh.taylor@leatonconsult.co.uk">Email Leaton Consultancy</a>
                </div>
            </div>
            <div class="col-sm">
                <div class="column">
                    <h4>Connect</h4>
                    <a href="mailto:josh.taylor@leatonconsult.co.uk">
                        <i class="fa fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
