<!-- Navigation Bar HTML -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Leaton Consultancy</a>    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
          
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto" id="jtrNavBarList">
            <li class="nav-item" id="homeItem">
                <a class="nav-link" href="#/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" id="aboutItem">
                <a class="nav-link" href="#/about">About</a>
            </li>
            <li class="nav-item" id="contactItem">
                <a class="nav-link" href="#/contact">Contact</a>
            </li>
            <li class="nav-item" id="motorsportItem">
                <a class="nav-link" href="#/motorsport">Motorsport</a>
            </li>
        </ul>
    </div>
</nav>
